@{
    ViewBag.Title = "Home Page";
}



<div class="container">
    <p class="title">
        Доступные курсы
        @if (User.Identity.IsAuthenticated)
        {

        }
        else
        {

            <h3>Зарегистрируйтесь, чтобы продолжить.</h3>
        }
    </p>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading"><b>Математика. 6 класс </b> </div>
                <div class="panel-body"><a href="details.html"><img src="../Content/images/math6.jpg" style="width:100%" alt="Image"></a></div>
                <div class="panel-footer">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" class="btn btn-success btn-block" *@ onclick="location.href='@Url.Action("Buy", "Home")';return false; ">Купить: 6 $</button>
                    }

                    else
                    {
                        <button type="button" class="btn btn-success disabled btn-block" *@ onclick="location.href='@Url.Action("Buy", "Home")';return false; ">Купить: 6 $</button>

                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading"><b>Математика. 7 класс</div></b>
                <div class="panel-body"><img src="../Content/images/math7.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" class="btn btn-success btn-block" onclick="location.href='@Url.Action("Buy", "Home")';return false;">Купить: 7 $</button>
                    }
                    else
                    {
                        <button type="button" class="btn disabled btn-success btn-block" onclick="location.href='@Url.Action("Buy", "Home")';return false;">Купить: 7 $</button>

                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading"><b>Математика. 8 класс</div></b>
                <div class="panel-body"><img src="../Content/images/math8.jpg" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" class="btn btn-success btn-block" onclick="location.href='@Url.Action("Buy", "Home")';return false;">Купить: 8 $</button>
                    }
                    else
                    {
                        <button type="button" class="btn disabled btn-success btn-block" onclick="location.href='@Url.Action("Buy", "Home")';return false;">Купить: 8 $</button>

                    }
                </div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading"><b>Физика. 6 класс</div></b>
                <div class="panel-body"><img src="../Content/images/physic6.jpg" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" class="btn btn-success btn-block" onclick="location.href='@Url.Action("Buy", "Home")';return false;">Купить: 5 $</button>
                    }
                    else
                    {
                        <button type="button" class="btn disabled btn-success btn-block" onclick="location.href='@Url.Action("Buy", "Home")';return false;">Купить: 5 $</button>

                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading"><b>Физика. 7 класс</div></b>
                <div class="panel-body"><img src="../Content/images/physic7.jpg" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" class="btn btn-success btn-block" onclick="location.href='@Url.Action("Buy", "Home")';return false;">Купить: 6 $</button>
                    }
                    else
                    {
                        <button type="button" class="btn disabled btn-success btn-block" onclick="location.href='@Url.Action("Buy", "Home")';return false;">Купить: 6 $</button>

                    }
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading"><b>Физика. 8 класс</div></b>
                <div class="panel-body"><img src="../Content/images/physic8.jpg" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button type="button" class="btn btn-success btn-block" onclick="location.href='@Url.Action("Buy", "Home")';return false;">Купить: 7 $</button>
                    }
                    else
                    {
                        <button type="button" class="btn disabled btn-success btn-block" onclick="location.href='@Url.Action("Buy", "Home")';return false;">Купить: 7 $</button>

                    }
                </div>
            </div>
        </div>
    </div>
</div><br><br>
